pyrogram==2.0.106
tgcrypto==1.2.5
python-dotenv==1.2.2
requests==2.34.2
aiohttp==3.12.15
opencv-python-headless==4.12.0.88
pillow
numpy
motor
dnspython
pymongo
yt-dlp
ffmpeg-python
aiofiles
psutil
spotipy
openai
groq
google-generativeai
gtts==2.5.4
edge-tts==7.2.3
imageio-ffmpeg==0.6.0
rembg==2.0.67
onnxruntime==1.22.1
