pyrogram
py-tgcalls==1.2.9
TgCrypto
yt-dlp
youtube-search-python
requests
aiohttp
pillow
motor
dnspython
ffmpeg-python
python-dotenv
edge-tts
gTTS
opencv-python-headless
groq
rembg
onnxruntime
